@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./typography.css";

@layer utilities {
  .text-shadow {
    text-shadow: 10px 6px 10px rgba(0, 0, 0, 0.5);
  }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 2px solid #006778; */
  -webkit-text-fill-color: #006778;
  -webkit-box-shadow: 0 0 0px 1000px #93d7f91f inset;
  box-shadow: 0 0 0px 1000px #93d7f91f inset;
  background-color: transparent;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}
/*  */
/* Change Pickers styles */
.css-15zj7fn-MuiPickersLayout-root {
  border-radius: 12px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.MuiPickersDay-today {
  background-color: #e6ba95 !important;
  color: white !important;
  border: #e6ba95 !important;
}

.MuiPickersDay-root:hover {
  background-color: #de005d;
  color: white;
}

.MuiPickersDay {
  background-color: #de005d;
  color: white;
}

.MuiTypography-h4 {
  color: #de005d;
}

.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  color: #fff;
  background-color: #de005d !important;
  font-weight: 500;
}

.css-foipgg-MuiDigitalClock-root {
  border-radius: 12px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  background-color: #fff;
}

.MuiMenuItem-root {
  border-radius: 12px;
}

.MuiMenuItem-root:hover {
  background-color: #de005d;
  color: #fff;
}

.MuiDigitalClock-selected {
  background-color: #de005d;
  color: #fff;
}

.css-1kvln7l-MuiButtonBase-root-MuiMenuItem-root-MuiDigitalClock-item.Mui-selected {
  background-color: #de005d;
  color: #fff;
}
.error {
  color: red;
  font-size: 12px;
  font-weight: 500;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: left;
}

.custom-scrollbar {
  padding-right: 10px;
  scrollbar-width: thin;
  scrollbar-color: #e6ba95 transparent;
  overflow-y: scroll;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 16px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e6ba95;
  border-radius: 32px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.MuiFormControl-root .MuiTextField-root .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  border: #E6BA95;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root{
  color: #E6BA95;
}

 .MuiOutlinedInput-notchedOutline {
  border-color: #E6BA95;
  border-radius: 12px;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root:hover{
  border-color: #E6BA95;
}

.rbc-off {
  background-color: #ccc;
  cursor: not-allowed;
}