/* 
.swiper {
  width: 100%;
  height: 100%;
  
}

.swiper-slide {
  min-width: 220px;
  max-height: 168px;
  text-align: center;
  font-size: 24px;
  background: white;
  font-family: kra; */

  /* Center slide text vertically */
  /* display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .swiper-slide {
    min-width: 296px;
    max-width: 296px;
    max-height: 214px;
  }
}
@media only screen and (min-width: 1440px) {
  .swiper-slide {
    min-width: 440px;
    max-height: 300px;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-wrapper {
  height: 300px;
} */
